.contact{
    background-color: black;
    display: flex;
    flex-direction: column;
}

.a-down{
    color: goldenrod;
    text-transform:lowercase;
}

ion-icon {
    color: goldenrod;
    font-size: 150px;
    float: right;
    margin-top: 60px;  
}

.icon-container {
    display: flex;
}

